/* FORUM STUFF */
/*////////////*/
/*////////////*/
/*////////////*/
/*////////////*/

.forum_cat_wrap {
    padding: 10px;
    height: auto;
    line-height: 20px;
    background-color: white;
    border-top: 3px solid #dadada;
    border-bottom: 3px solid #dadada;
    border-right: 3px solid #dadada;
    border-left: 3px solid #05baff;
}

.category_header {
    text-transform: uppercase;
    padding-bottom: 5px;
    width: 100%;
    border-bottom: 1px dotted #ababab;
    margin-bottom: 10px;
}

.category_header a {
    color: #404040;
    font-weight: bold;
}

.category_disc {
    /*padding-bottom: 10px;*/
    width: 100%;
}

.thread_header {
    float:left;
    padding-bottom: 10px;
    width:100%;
    margin-right:10px;
}

div.thread_title {
    float:left;
    width: 60%;
    margin-right: 20px;
}

div.thread_posts_header, div.thread_views_header  {
    float:left; width: 15%; margin-right: 20px;
}

.thread_header a {
    color: #404040;
    font-weight: bold;
    text-transform: uppercase;
}

.thread_disc {
    float: left;
    padding-bottom: 20px;
}

div.response_post_header {
    float: left;
    width: 100%;
    background-color: #b1d0e0;
    border: 1px dotted;
    border-bottom: 0px;
}

div.response_post_content {
    float: left;
    margin-bottom: 20px;
    width: 100%;
    background-color: #f6fcff;
    border: 1px dotted;
}

.post_content {
    float:left;
    padding-bottom: 10px;
    padding-top: 5px;
    width: 100%;
    border-bottom: 1px dashed;
}

.thread_description {
    float:left;
    width: 60%;
    padding-bottom: 10px;
    padding-top: 5px;
    border-bottom: 1px dashed;
    margin-right: 20px;
}

.thread_description_header {
    float:left;
    width: 60%;
    padding-bottom: 15px;
    padding-top: 5px;
    margin-right: 20px;
}

div.thread_posts {
    float:left;
    width: 15%;
    padding-bottom: 10px;
    padding-top: 5px;
    border-bottom: 1px dashed;
    margin-right: 20px;
}

div.thread_views {
    float:left;
    width: 15%;
    padding-bottom: 10px;
    padding-top: 5px;
    border-bottom: 1px dashed;
    margin-right: 20px;
}


div.thread_info {
    float: left;
    padding-bottom: 20px;
    width: 100%;
    margin-bottom: 20px;
    background-color: #f6fcff;
    border: 1px dotted;
    border-top: 10px solid #b1d0e0;
}

div.user_avatar {
    width: 70px;
    height: 70px;
    background-color: #78a0ca;
    border: 2px dotted #404040;
}

#horizontal thead,#horizontal tbody{
    display:inline-block;
    text-align: left;
    padding-right: 10px;
    padding-top: 10px;
    border-collapse: separate;
    border-spacing: 8px 12px;
}

body > section > div > div.thread_header > a:nth-child(2){
    text-transform: lowercase;
    font-weight: normal;
}

#thread_container > div.thread_header > div.thread_title > a:nth-child(2){
    text-transform: lowercase;
    font-weight: normal;
}

input#threadTitle {
    width: 80%;
    border: 5px solid #bdbdbd;
}

#threadDisc {
    width: 80%;
    height: 200px;
    border: 5px solid #bdbdbd;
}



#thread_wrapper {
    padding-bottom: 20px; float: left; width: 100%;
}

#category_count {
    float: left;
    padding-top: 10px;
    width:100%;
}

#category_reply_date{
float:right;
display: block;
}